.background1 {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(38, 38, 38) 0%,
    rgb(20, 20, 20) 100%
  );
  background-color: rgba(255, 255, 255, 1.0);
  border-radius: 25px;
  height: 415px;
left:150px;
top:150px;
  overflow: hidden;
  position: relative;
  width: 386px;
}

.background1 .overlap {
  height: 296px;
  left: 32px;
  position: absolute;
  top: -5px;
  width: 322px;
}

.background1 .div {
  background-image: url("../assets/bg.png");
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 0px 0px 23px 0px;
  height: 239px;
  left: 42px;
  opacity: 0.15;
  position: absolute;
  top: 0;
  width: 239px;
}

.background1 .heading-plan {
  color: #ffffff;
  font-family: "Inter-Medium", Helvetica;
  font-size: 28.6px;
  font-weight: 500;
  height: 38px;
  left: 60px;
  letter-spacing: -1.00px;
  line-height: 37.5px;
  position: absolute;
  text-align: center;
  top: 36px;
  white-space: nowrap;
  width: 202px;
}

.background1 .div-2 {
  background-image: url("../assets/bg.png");
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 18px;
  height: 190px;
  left: 0;
  position: absolute;
  top: 106px;
  width: 322px;
}

.background1 .border {
  border: 1px solid;
  border-color: #262626;
  border-radius: 18px;
  height: 190px;
  left: 0;
  position: absolute;
  top: 106px;
  width: 322px;
}

.background1 .container {
  height: 190px;
  left: 16px;
  overflow: hidden;
  position: absolute;
  top: 106px;
  width: 290px;
}

.background1 .overlap-group {
  height: 139px;
  left: -35px;
  position: relative;
  top: 25px;
  width: 316px;
}

.background1 .overlap-group-2 {
  height: 120px;
  left: 29px;
  position: absolute;
  top: 9px;
  width: 288px;
}

.background1 .horizontal-divider {
  background: linear-gradient(
    180deg,
    rgba(17, 17, 17, 0) 0%,
    rgb(38, 38, 38) 11%
  );
  border-radius: 30px;
  height: 1px;
  left: -12px;
  position: absolute;
  top: 59px;
  transform: rotate(23.00deg);
  width: 304px;
}

.background1 .horizontal-divider-2 {
  background: linear-gradient(
    180deg,
    rgba(17, 17, 17, 0) 0%,
    rgb(38, 38, 38) 11%
  );
  border-radius: 30px;
  height: 1px;
  left: 6px;
  position: absolute;
  top: 59px;
  width: 267px;
}

.background1 .horizontal-divider-3 {
  background: linear-gradient(
    180deg,
    rgba(17, 17, 17, 0) 0%,
    rgb(38, 38, 38) 11%
  );
  border-radius: 30px;
  height: 1px;
  left: -12px;
  position: absolute;
  top: 59px;
  transform: rotate(-23.00deg);
  width: 304px;
}

.background1 .background-wrapper {
  background: linear-gradient(180deg, rgb(61, 61, 61) 0%, rgb(20, 20, 20) 100%);
  border-radius: 40px;
  height: 32px;
  left: 46px;
  position: absolute;
  top: 44px;
  width: 32px;
}

.background1 .div-3 {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(38, 38, 38) 47.49%,
    rgb(20, 20, 20) 100%
  );
  border-radius: 40px;
  height: 32px;
  left: 23px;
  position: relative;
}

.background1 .div-wrapper {
  background: linear-gradient(180deg, rgb(61, 61, 61) 0%, rgb(20, 20, 20) 100%);
  border-radius: 40px;
  height: 62px;
  left: 111px;
  position: absolute;
  top: 29px;
  width: 62px;
}

.background1 .div-wrapper-2 {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(38, 38, 38) 47.49%,
    rgb(20, 20, 20) 100%
  );
  border-radius: 40px;
  height: 60px;
  left: 1px;
  overflow: hidden;
  position: relative;
  top: 1px;
  width: 60px;
}

.background1 .div-4 {
  background-image: url("../assets/bg.png");
  background-position: 50% 50%;
  background-size: cover;
  height: 33px;
  left: 14px;
  position: relative;
  top: 14px;
  width: 33px;
}

.background1 .img {
  height: 36px;
  left: 252px;
  position: absolute;
  top: 42px;
  width: 36px;
}

.background1 .img-2 {
  height: 39px;
  left: 217px;
  position: absolute;
  top: 78px;
  width: 50px;
}

.background1 .background-wrapper-2 {
  background: linear-gradient(180deg, rgb(61, 61, 61) 0%, rgb(20, 20, 20) 100%);
  border-radius: 40px;
  height: 32px;
  left: 0;
  position: absolute;
  top: 106px;
  width: 32px;
}

.background1 .div-5 {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(38, 38, 38) 47.49%,
    rgb(20, 20, 20) 100%
  );
  border-radius: 40px;
  height: 32px;
  position: relative;
  top: 1px;
}

.background1 .img-3 {
  height: 36px;
  left: 280px;
  position: absolute;
  top: 103px;
  width: 36px;
}

.background1 .img-4 {
  height: 36px;
  left: 280px;
  position: absolute;
  top: 0;
  width: 36px;
}

.background1 .we-enhance {
  color: #afafaf;
  font-family: "Manrope-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  height: 53px;
  left: 40px;
  letter-spacing: 0;
  line-height: 28.8px;
  position: absolute;
  text-align: center;
  top: 316px;
  width: 306px;
}
