.background2 {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(38, 38, 38) 0%,
    rgb(20, 20, 20) 100%
  );
  background-color: rgba(255, 255, 255, 1.0);
  border-radius: 25px;
  height: 415px;
  overflow: hidden;
  position: relative;
  width: 386px;
  left:580px;
  bottom: 263px;
}

.background2 .overlap {
  height: 296px;
  left: 32px;
  position: absolute;
  top: -5px;
  width: 322px;
}

.background2 .div {
  background-image: url("../assets/bg.png");
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 0px 0px 23px 0px;
  height: 239px;
  left: 42px;
  opacity: 0.15;
  position: absolute;
  top: 0;
  width: 239px;
}

.background2 .heading-custom {
  color: #ffffff;
  font-family: "Inter-Medium", Helvetica;
  font-size: 28px;
  font-weight: 500;
  height: 38px;
  left: 57px;
  letter-spacing: -1.00px;
  line-height: 37.5px;
  position: absolute;
  text-align: center;
  top: 36px;
  white-space: nowrap;
  width: 207px;
}

.background2 .overlap-wrapper {
  background-color: #050505;
  border-radius: 18px;
  height: 190px;
  left: 0;
  position: absolute;
  top: 106px;
  width: 322px;
}

.background2 .overlap-group {
  border-radius: 18px;
  height: 190px;
  position: relative;
}

.background2 .element-wrapper {
  background: linear-gradient(180deg, rgb(20, 20, 20) 0%, rgb(5, 5, 5) 100%);
  border-radius: 10px 0px 0px 10px;
  height: 188px;
  left: 17px;
  opacity: 0.68;
  position: absolute;
  top: 1px;
  width: 46px;
}

.background2 .element {
  color: #626262;
  font-family: "Roboto Mono-Medium", Helvetica;
  font-size: 12px;
  font-weight: 500;
  height: 131px;
  left: 19px;
  letter-spacing: 0;
  line-height: 19.2px;
  position: absolute;
  top: 27px;
  width: 7px;
}

.background2 .paragraph-background {
  background: linear-gradient(180deg, rgb(5, 5, 5) 0%, rgb(0, 0, 0) 100%);
  border-radius: 0px 10px 10px 0px;
  height: 188px;
  left: 63px;
  opacity: 0.68;
  position: absolute;
  top: 1px;
  width: 242px;
}

.background2 .overlap-group-2 {
  height: 131px;
  left: 18px;
  position: relative;
  top: 27px;
  width: 173px;
}

.background2 .class-chatbot {
  color: transparent;
  font-family: "Roboto Mono-Medium", Helvetica;
  font-size: 12px;
  font-weight: 500;
  height: 131px;
  left: 0;
  letter-spacing: 0;
  line-height: 19.2px;
  position: absolute;
  top: 0;
  width: 173px;
}

.background2 .text-wrapper {
  color: #ffffff;
}

.background2 .span {
  color: #afafaf;
}

.background2 .text-wrapper-2 {
  color: #fafafa;
}

.background2 .text-wrapper-3 {
  color: #afafaf;
  font-family: "Roboto Mono-Regular", Helvetica;
  font-size: 10.5px;
  font-weight: 400;
  height: 14px;
  left: 79px;
  letter-spacing: 0;
  line-height: 16.8px;
  position: absolute;
  top: 116px;
  white-space: nowrap;
  width: 7px;
}

.background2 .text-wrapper-4 {
  color: #626262;
  font-family: "Roboto Mono-Regular", Helvetica;
  font-size: 10.5px;
  font-weight: 400;
  height: 14px;
  left: 87px;
  letter-spacing: 0;
  line-height: 16.8px;
  position: absolute;
  top: 116px;
  white-space: nowrap;
  width: 7px;
}

.background2 .border {
  border: 1px solid;
  border-color: #262626;
  border-radius: 18px;
  height: 190px;
  left: 0;
  position: absolute;
  top: 0;
  width: 322px;
}

.background2 .we-created-a {
  color: #afafaf;
  font-family: "Manrope-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  height: 53px;
  left: 47px;
  letter-spacing: 0;
  line-height: 28.8px;
  position: absolute;
  text-align: center;
  top: 316px;
  width: 292px;
}
