.background3 {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(38, 38, 38) 0%,
    rgb(20, 20, 20) 100%
  );
  background-color: rgba(255, 255, 255, 1.0);
border-radius: 25px;
  height: 415px;
  overflow: hidden;
position: relative;
  width: 386px;
  left:1010px;
  bottom:675px;
 
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.background3::after, .background3::before{
  content: '';
  position: absolute;
  height: 1900%;
  width: 1900%;
  background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
  top: 500%;
  left: 500%;
  translate: -100% -100%;
  z-index: -1;
  padding: 30px;
  border-radius: 211115px;
  animation: 3s spin linear infinite;
}
.background3::before{
  filter: blur(1.5rem);
  opacity: 1.5;
}
@keyframes spin{
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}
.background3 .overlap-group {
  height: 296px;
  left: 32px;
  position: absolute;
  top: -5px;
  width: 322px;
}

.background3 .div {
  background-image: url("../assets/bg.png");
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 0px 0px 23px 0px;
  height: 239px;
  left: 42px;
  opacity: 0.15;
  position: absolute;
  top: 0;
  width: 239px;
}

.background3 .heading-smart {
  color: #ffffff;
  font-family: "Inter-Medium", Helvetica;
  font-size: 28px;
  font-weight: 500;
  height: 38px;
  left: 47px;
  letter-spacing: -1.00px;
  line-height: 37.5px;
  position: absolute;
  text-align: center;
  top: 36px;
  white-space: nowrap;
  width: 229px;
}

.background3 .div-2 {
  background-image: url("../assets/bg.png");
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 18px;
  height: 190px;
  left: 0;
  position: absolute;
  top: 106px;
  width: 322px;
}

.background3 .border {
  border: 1px solid;
  border-color: #262626;
  border-radius: 18px;
  height: 190px;
  left: 0;
  position: absolute;
  top: 106px;
  width: 322px;
}

.background3 .vertical-divider {
  background-color: #262626;
  height: 94px;
  left: 161px;
  position: absolute;
  top: 154px;
  width: 1px;
}

.background3 .background-wrapper {
  background: linear-gradient(180deg, rgb(61, 61, 61) 0%, rgb(20, 20, 20) 100%);
  border-radius: 8px;
  height: 38px;
  left: 92px;
  position: absolute;
  top: 136px;
  width: 138px;
}

.background3 .div-3 {
  background-color: #141414;
  border-radius: 7px;
  height: 36px;
  left: 1px;
  position: relative;
  top: 1px;
  width: 136px;
}

.background3 .div-4 {
  background-image: url("../assets/x.png");
  background-position: 50% 50%;
  background-size: cover;
  height: 14px;
  left: 12px;
  position: absolute;
  top: 11px;
  width: 14px;
}

.background3 .text-wrapper {
  color: #919191;
  font-family: "Manrope-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 14px;
  left: 39px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 10px;
  white-space: nowrap;
  width: 46px;
}

.background3 .div-wrapper {
  background: linear-gradient(180deg, rgb(61, 61, 61) 0%, rgb(20, 20, 20) 100%);
  border-radius: 8px;
  height: 38px;
  left: 92px;
  position: absolute;
  top: 182px;
  width: 138px;
}

.background3 .div-5 {
  background-image: url("../assets/y.png");
  background-position: 50% 50%;
  background-size: cover;
  height: 14px;
  left: 12px;
  position: absolute;
  top: 11px;
  width: 14px;
}

.background3 .text-wrapper-2 {
  color: #919191;
  font-family: "Manrope-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 14px;
  left: 39px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 10px;
  white-space: nowrap;
  width: 55px;
}

.background3 .background-wrapper-2 {
  background: linear-gradient(180deg, rgb(61, 61, 61) 0%, rgb(20, 20, 20) 100%);
  border-radius: 8px;
  height: 38px;
  left: 92px;
  position: absolute;
  top: 230px;
  width: 138px;
}

.background3 .div-6 {
  background-image: url("../assets/x.png");
  background-position: 50% 50%;
  background-size: cover;
  height: 14px;
  left: 12px;
  position: absolute;
  top: 11px;
  width: 14px;
}

.background3 .text-wrapper-3 {
  color: #ffffff;
  font-family: "Manrope-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 14px;
  left: 39px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 10px;
  white-space: nowrap;
  width: 70px;
}

.background3 .we-analyze {
  color: #afafaf;
  font-family: "Manrope-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  height: 53px;
  left: 46px;
  letter-spacing: 0;
  line-height: 28.8px;
  position: absolute;
  text-align: center;
  top: 316px;
  width: 295px;
}


@keyframes borderFlow {
  0% {
    border-image-source: linear-gradient(90deg, #ff7eb3, #ff758c, #ff7eb3);
  }
  50% {
    border-image-source: linear-gradient(90deg, #ff758c, #ff7eb3, #ff758c);
  }
  100% {
    border-image-source: linear-gradient(90deg, #ff7eb3, #ff758c, #ff7eb3);
  }
}
