.marquee {
    display: flex;
    overflow: hidden;
    width: 100%;
    visibility: hidden;
    top:1000px;
  }
  
  .marquee.is-ready {
    visibility: visible;
  }
  
  .marquee-content {
    display: flex;
    white-space: nowrap;
  }
  
  .marquee.is-ready .marquee-content {
    animation: marquee 65s linear infinite;
    animation-direction: var(--direction);
  }
  
  .marquee.pause-on-hover:hover .marquee-content {
    animation-play-state: paused;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  